@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Blind Low Vision NZ is committed to ensuring your privacy is secured. In compliance with the Privacy Act 1993 and the Health Information Privacy Code 1994, this privacy policy defines what personal information and health information we obtain, use and reveal.

    For various purposes, Blind Low Vision NZ collects information. This Privacy Statement is a general policy relating to privacy. It deals with data collection through our website and electronic communications.
</p>
